[submodule "themes/onetwothree"]
	path = themes/onetwothree
	url = https://github.com/schollz/onetwothree.git
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = /themes/hugo-paper
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
